.Loot-Table__Item-Icon {
  height: 2em;
  margin: 2px auto;
  vertical-align: middle;
}

.Loot-Table__Chaos-Icon {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.Loot-Table-Page__Header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.Loot-Table__Header {
  background-color: rgba(155, 155, 155, 0.2);
}

.Loot-Table__Header th:nth-child(1) {
  border-radius: 4px 0px 0px 0px;
}

.Loot-Table__Header th:nth-last-child(1) {
  border-radius: 0px 4px 0px 0px;
}
