.Side-Nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Side-Nav .Header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Side-Nav .Header__Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.Side-Nav .Header__Logo {
  width: 50%;
  margin: auto;
}

.Side-Nav .Header__Logo img {
  width: 100%;
}

.Side-Nav .Header__Title {
  font-size: 18px;
  color: #fff;
  text-align: left;
}

.Side-Nav .Header__Version {
  font-size: 16px;
}

.Side-Nav .Side-Nav__Link {
  font-size: 20px;
}

/* .Side-Nav .Side-Nav__Menu {
  display: flex;
  flex-direction: column;
} */

/* .Side-Nav .Side-Nav__Link {
  width: 100%;
  color: #6666ff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
} */

.Side-Nav .New-Version-Icon {
  height: 25px;
  width: 25px;
  margin: 0 10px;
  animation: glowPulse 1s infinite;
}

.Side-Nav .New-Version-Icon--hidden {
  display: none;
}

.Side-Nav .Patreon-Button {
  width: 100%;
  margin: auto;
}

.Net-Worth__Container,
.Profit-Per-Hour__Container {
  text-align: center;
  background-color: #111;
}

.Net-Worth,
.Profit-Per-Hour {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.Side-Nav .Net-Worth__Total__Text,
.Side-Nav .Profit-Per-Hour__Total__Text {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Profit-Per-Hour__Header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Net-Worth__Change {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Net-Worth__Total__Icon {
  height: 1.5em;
}
