.Side-Nav {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #111;
}

.Side-Nav .Header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Side-Nav .Header__Logo {
  width: 90%;
  margin: auto;
}

.Side-Nav .Header__Title {
  font-size: 20px;
}

.Side-Nav .Header__Version {
  font-size: 16px;
}

.Side-Nav .Separator {
  border: 1px solid #333;
}

.Side-Nav .Side-Nav__Menu {
  display: flex;
  flex-direction: column;
}

.Side-Nav .Side-Nav__Link {
  width: 100%;
  color: #6666ff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Side-Nav .New-Version-Icon {
  height: 25px;
  width: 25px;
  animation: glowPulse 1s infinite;
}

.Side-Nav .New-Version-Icon--hidden {
  display: none;
}

.Side-Nav .Patreon-Button {
  width: 90%;
  margin: auto 10px;
}

.Side-Nav .Net-Worth {
  display: none;
  position: fixed;
  padding: 1px;
  left: 10px;
  width: 160px;
  text-align: center;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 16px;
}

.Side-Nav .Net-Worth__Graph {
  height: 70px;
  width: 140px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 0;
}

.Side-Nav .Net-Worth__Total {
  /* display: none; */
}
.Side-Nav .Net-Worth__Total__Text {
}
