.Main-Stats {
  margin-left: 10px;
  margin-bottom: 20px;
}

.Main-Stats__Header {
  padding: 0;
  margin: 2px 0;
  color: #ffecaf;
  letter-spacing: 3px;
  text-shadow: 2px 2px black;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #444 5%, rgba(0, 0, 0, 0));
  font-weight: normal;
  font-size: 1.5em;
  /* margin-left: 10px; */
  margin-bottom: 15px;
  padding: 6px 20px;
  font-family: FontinSmallCaps;
}

.Main-Stats__Container {
  margin-bottom: 30px;
}

.Main-Stats__Column {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Main-Stat {
  color: white;
  font-family: FontinSmallCaps;
}
.Main-Stat__Text {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 3px;
}

.Main-Stat__Value {
  color: #fefe76;
}

.Main-Stat__Icon {
  height: 1.2em;
  margin-right: 3px;
}

.Main-Stat__Table__Icon {
  vertical-align: middle;
  height: 1.3em;
}

.Main-Stat__Table-Container {
  margin-top: 10px;
}

.Main-Stats--Conquerors .Main-Stat__Text {
  margin-left: 1.5em;
}

.Main-Stats--Two-Columns {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 25px;
  flex-wrap: wrap;
}

.Main-Stats--Two-Columns > .Main-Stat {
  width: calc(50% - 10px);
}

.Main-Stats--One-Column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.Main-Stats--One-Column .Main-Stat__Section {
  margin-top: 10px;
  width: 100%;
}

.Main-Stat__Header,
.Main-Stat__Section-Header {
  height: 2em;
  vertical-align: middle;
  border-radius: 3em;
  margin-bottom: 5px;
  text-shadow: 2px 2px black;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Main-Stat__Header__Icon {
  height: 2em;
}

.Main-Stat__Header--al-hezmin {
  background-image: linear-gradient(to right, #526942, rgba(0, 0, 0, 0) 75%);
}
.Main-Stat__Header--baran {
  background-image: linear-gradient(to right, #5d1e19, rgba(0, 0, 0, 0) 75%);
}
.Main-Stat__Header--drox {
  background-image: linear-gradient(to right, #63513a, rgba(0, 0, 0, 0) 75%);
}
.Main-Stat__Header--veritania {
  background-image: linear-gradient(to right, #363a96, rgba(0, 0, 0, 0) 75%);
}

.Main-Stat__Section,
.Main-Stat__Section__Column {
  display: flex;
  gap: 3px;
  width: 100%;
}

.Main-Stat__Section--One-Column,
.Main-Stat__Section__Column {
  flex-direction: column;
}

.Main-Stat__Section--Two-Columns {
  flex-direction: row;
  flex-wrap: wrap;
}

.Main-Stat__Section-Header {
  width: 100%;
  margin-bottom: 10px;
}

.Main-Stat__Section .Main-Stat__Header__Icon {
  height: 3em;
  margin-left: -0.5em;
}

.Main-Stat__Section--Two-Columns .Main-Stat__Section__Column {
  width: calc(50% - 10px);
}

.Main-Stat__Header--alva {
  background-image: linear-gradient(to right, #3f131d 35%, #58ae8f 65%, rgba(0, 0, 0, 0) 98%);
}
.Main-Stat__Header--einhar {
  background-image: linear-gradient(to right, #3f1411 35%, #b5b28c 65%, rgba(0, 0, 0, 0) 98%);
}
.Main-Stat__Header--niko {
  background-image: linear-gradient(to right, #15191e 35%, #31f7ff 65%, rgba(0, 0, 0, 0) 98%);
}
.Main-Stat__Header--jun {
  background-image: linear-gradient(to right, #3f2e0f 35%, #b7b13e 65%, rgba(0, 0, 0, 0) 98%);
}

.Main-Stat__Section .Main-Stat {
  margin-left: 1.5em;
}

.Main-Stat__Beast-Icon {
  height: 1.5em;
}
.Main-Stat__Value--Beasts {
  font-family: initial;
  display: flex;
  align-items: center;
  align-content: center;
  color: rgba(255, 255, 255, 0.7);
}
