.DataSearchResults__Stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.2rem 0;
}

.DataSearchForm__Buttons {
  display: flex;
  justify-content: center;
}

.DataSearchForm__Header {
  text-align: center;
  color: white;
  margin: 0.5rem 0 1rem;
}

.DataSearchForm__Section-Title {
  color: white;
}

.DataSearchForm__Field-Group {
  border: 1px solid rgba(255,255,255, 0.1);
  border-radius: 0.5rem;
  padding: 10px;
}