body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Root {
  display: grid;
  grid-template-columns: 160px auto;
  /* grid-template-rows: calc(100vh - 20px); */
  min-height: calc(100vh - 20px);
  grid-column-gap: 10px;
  padding: 10px;
  background-color: #000;
}

.Left-Column {
}

.Left-Container {
  position: sticky;
  top: 10px;
}

.Right-Column {
  /* overflow-y: scroll; */
}

@font-face {
  font-family: FontinSmallCaps;
  src: url('./assets/fonts/Fontin-SmallCaps.ttf');
}

@font-face {
  font-family: Fontin;
  src: url('./assets/fonts/Fontin-Regular.ttf');
}

a {
  color: #6666ff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

a.visited {
  color: #3333ff;
}

table,
tr,
td,
div {
  vertical-align: middle;
  font-family: FontIn;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  color: #aaaaaa;
}

span.positive {
  color: #88cc88;
}

span.negative {
  color: #cc8888;
}

@keyframes glowPulse {
  0% {
    filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000)
      drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
  }
  50% {
    filter: brightness(200%) drop-shadow(-1px -1px 1px #fff) drop-shadow(1px 1px 1px #fff)
      drop-shadow(-1px 1px 1px #fff) drop-shadow(1px -1px 1px #fff);
  }
  100% {
    filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000)
      drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
  }
}

.Box {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #111;
}

.Text--Legendary {
  color: #af6025;
}

.Text--Legendary--2 {
  color: #e07a31;
}


.Text--Magic {
  color: #8787fe;
}
.Text--Rare {
  color: #fefe76;
}
.Text--Unique {
  color: #af5f1c;
}
.Text--Gem {
  color: #0d9f98;
}
.Text--Prophecy {
  color: #b547fe;
}
