body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontIn;
  color: #aaaaaa;
  background: transparent;
  padding: 0;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Root {
  display: grid;
  grid-template-columns: 160px auto;
  min-height: calc(100% - 20px);
  width: calc(100% - 20px);
  grid-column-gap: 10px;
  padding: 10px;
}

.Left-Container {
  position: sticky;
  top: 10px;
}

@font-face {
  font-family: FontinSmallCaps;
  src: url('./assets/fonts/Fontin-SmallCaps.ttf');
}

@font-face {
  font-family: Fontin;
  src: url('./assets/fonts/Fontin-Regular.ttf');
}

a {
  color: #6666ff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

a.visited {
  color: #3333ff;
}

table,
tr,
td,
div {
  vertical-align: middle;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
}

span.positive {
  color: #88cc88;
}

span.negative {
  color: #cc8888;
}

@keyframes glowPulse {
  0% {
    filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000)
      drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
  }
  50% {
    filter: brightness(200%) drop-shadow(-1px -1px 1px #fff) drop-shadow(1px 1px 1px #fff)
      drop-shadow(-1px 1px 1px #fff) drop-shadow(1px -1px 1px #fff);
  }
  100% {
    filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000)
      drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
  }
}

.Box {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #111;
}

.Text {
  display: flex;
}
.Text--Bottom {
  text-align: center;
  /* italic */
  font-style: italic;
  font-size: 0.8em;
}

.Text--Icon {
  height: 1em;
  vertical-align: text-bottom;
  min-width: 1em;
}

.Text--Legendary {
  color: #af6025;
}

.Text--Legendary--2 {
  color: #e07a31;
}
.Text--Magic {
  color: #8787fe;
}
.Text--Rare {
  color: #fefe76;
}
.Text--Unique {
  color: #af5f1c;
}
.Text--Gem {
  color: #0d9f98;
}
.Text--Prophecy {
  color: #b547fe;
}

.Text--Augmented {
  color: #8888ff;
}
.Text--Unidentified,
.Text--Unmet,
.Text--Error {
  color: #d20000;
}
.Text--Unidentified {
  font-weight: bold;
}
.Text--Physical-Damage {
  color: white;
}
.Text--Fire-Damage {
  color: #960000;
}
.Text--Cold-Damage {
  color: #366492;
}
.Text--Lightning-Damage {
  color: gold;
}
.Text--Chaos-Damage {
  color: #d02090;
}
.Text--Harvest-Red {
  color: magenta;
}
.Text--Harvest-Green {
  color: yellow;
}
.Text--Harvest-Blue {
  color: cyan;
}
.Text--Default {
  color: #fff;
}

.Text--Crafted,
.Text--Enchantment {
  color: #b8daf1;
}

.Text--Explicit,
.Text--Implicit,
.Text--Utility {
  color: #8888ff;
}

.Text--Secret-Description {
  color: #c8c8c8;
}

.Text--Flavour,
.Text--Description {
  font-style: italic;
}

.Text--Veiled {
  padding: 0;
  display: inline-block;
  animation: animate-veiled-mod 3s steps(90) reverse infinite;
  will-change: background-position;
  white-space: nowrap;
}
.Text--Veiled .lc.prefix {
  width: 158px;
  background-position: -14220px;
  user-select: auto;
  color: transparent;
}

.Text--small {
  font-size: 0.8em;
}

.Stats__Table-Header {
  background-color: rgba(155, 155, 155, 0.2);
}

.Stats__Table-Header th:nth-child(1) {
  border-radius: 4px 0px 0px 0px;
}

.Stats__Table-Header th:nth-last-child(1) {
  border-radius: 0px 4px 0px 0px;
}

.Stats__Sub-Table .Boss-Stats__Table {
  background-color: rgba(60, 60, 60, 0.2);
}

.Page__Title {
  margin: 10px 0;
  font-family: FontInSmallCaps;
  font-size: 1.5em;
  color: white;
}

.Icon--Hidden {
  display: none;
}
