name: build-linux
run-name: Building version v${{ inputs.version }} by @${{ github.actor }} for Linux
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to build'
        required: true

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: v${{ inputs.version }}
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder elfutils
      - name: Install flathub dependencies
        run: |
          flatpak remote-add -u --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - name: Install npm dependencies
        run: npm install
      - name: Build app
        run: npm run build:linux
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: |
            dist/exile-diary_${{ inputs.version }}_amd64.deb
            dist/latest-linux.yml
            dist/exile-diary_${{ inputs.version }}_amd64.flatpak
            dist/exile-diary_${{ inputs.version }}_amd64.AppImage
      - name: Update release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ inputs.version }}
          files: |
            dist/latest-linux.yml
            dist/exile-diary_${{ inputs.version }}_amd64.flatpak
            dist/exile-diary_${{ inputs.version }}_amd64.AppImage